<!DOCTYPE html>
<html>
<head>
  <title>Stop IE</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lte IE 7]>
  <%= stylesheet_link_tag    "stop_ie/application" %>
  <%= javascript_include_tag "stop_ie/application" %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
